<div ng-controller="SidebarController as vm">
    <ht-sidebar when-done-animating="vm.sidebarReady()">
        <div class="sidebar-filler"></div>
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <div class="sidebar-inner">
            <div class="sidebar-widget"></div>
            <ul class="navi">
                <li class="nlightblue fade-selection-animation">
                    <a href="#" data-toggle="collapse" data-target="#admin">Administración</a>
                    <div class="collapse" id="admin">
                        <a class="nlightblue fade-selection-animation list-group-item" ng-class="vm.isCurrent(r)"
                        ng-repeat="r in vm.navRoutesAdmin" ui-sref="{{r.name}}"
                                ng-bind-html="r.settings.content">
                            <!-- <a ></a> -->
                        </a>
                    </div>
                    <!-- <a></a> -->
                </li>
                <li class="nlightblue fade-selection-animation">
                    <a href="#" data-toggle="collapse" data-target="#movi">Movimientos</a>
                    <div class="collapse" id="movi">
                        <a class="nlightblue fade-selection-animation list-group-item" ng-class="vm.isCurrent(r)"
                        ng-repeat="r in vm.navRoutesMovi" ui-sref="{{r.name}}"
                                ng-bind-html="r.settings.content">
                            <!-- <a ></a> -->
                        </a>
                    </div>
                    <!-- <a></a> -->
                </li>
            </ul>
        </div>

    </ht-sidebar>

</div>
