<section class="mainbar">

  <div class="panel panel-primary">
    <div class="panel-heading">
      Lista de Tipo de Unidad 
    </div>
    <div class="panel-body">

      <div class="pull-right">
        <a type="button" class="btn btn-success" href="/tipo-unidades/create">
          <i class="glyphicon glyphicon-open"></i> Nuevo Tipo de Unidad
        </a>
      </div>

      <table ng-table="vm.tableParams" show-filter="true" class="table table-condensed table-striped">
          <tr ng-repeat="tipoUnidades in $data">
              
              <td data-title="'Id'" sortable="'id'" filter="{ 'id': 'text' }">{{tipoUnidades.id}}</td>
              
              <td data-title="'Descripcion'" sortable="'descripcion'" filter="{ 'descripcion': 'text' }">{{tipoUnidades.descripcion}}</td>
              
              <td data-title="'Estado'" sortable="'estado'"  >{{estados[tipoUnidades.estado]}}</td>
              
              <td>
                 <div class="table-actions">
                      <a class="btn btn-default" title="View" href="/tipo-unidades/{{tipoUnidades.id}}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                      </a>
                      <a class="btn btn-default" title="Edit" href="/tipo-unidades/{{tipoUnidades.id}}/edit">
                        <span class="glyphicon glyphicon-edit"></span>
                      </a>
                      <a class="btn btn-danger" title="Remove" ng-really-message="¿ Esta seguro ? " ng-really-click="vm.remove(tipoUnidades)" item="tipoUnidades">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                      </a>
                  </div>
              </td>
          </tr>
      </table>

    </div>
  </div>

</section>
