<section class="mainbar" data-ng-init="vm.toViewArticulos()">

  <div class="panel panel-primary">
    <div class="panel-heading">
			Ver Articulos
    </div>
    <div class="panel-body">

      <form novalidate>
        <formly-form model="vm.articulos" fields="vm.formFields">
        </formly-form>
      </form>

      <hr/>
      <div>
        <a class="btn btn-success" href="/articulos/{{vm.articulos.id}}/edit">
          <i class="glyphicon glyphicon-edit"></i> Editar
        </a>
        <a class="btn btn-danger" title="Remove" ng-really-message="¿ Esta seguro ? " ng-really-click="vm.remove()" item="vm.articulos">
          <i class="glyphicon glyphicon-remove-circle"></i> Eliminar
        </a>
        <a class="btn btn-primary" href="/articulos">
          <i class="glyphicon glyphicon-list"></i> Lista de Articulos
        </a>
      </div>

    </div>
  </div>

</section>
